.head {
    text-align: center;
}

.info {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 200px;
    width: 300px;
    margin: auto;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    padding-top: 20px;
}

.sure {
    color: white;
    background: green;
    width: 50px;
    height: 30px;
}