<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href={{ url_for('static',filename='css/index.css') }} rel="stylesheet">
</head>
<body>
<div class="head">
    <h1>Welcome Mydear</h1>
</div>
<div class="body">
    <div>
        <div><a href={{ url_for('player_info_add') }}> 添加玩家信息</a></div>
        <div><a href={{ url_for('player_info_show') }}>查看玩家信息</a></div>
    </div>
    <br/>
    <div>
        <div><a href={{ url_for('monster_info_add') }}>添加怪兽信息</a></div>
        <div><a href={{ url_for('monster_info_show') }}>查看怪兽信息</a></div>
    </div>
</div>
</body>
</html>