<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>玩家信息添加</title>
    <link href={{ url_for('static',filename='css/player_info_add.css') }} rel="stylesheet">
</head>
<body>
<div class="head">
    <h2>玩家信息添加</h2>
</div>
<div class="info">
    <form name="table" method="post" action="/player/info/add/">
        <label for="Pname">玩家名称</label>
        <input type="text" name="Pname" id="Pname"/>
        <br/><br/>
        <label for="Php">玩家血量</label>
        <input type="text" name="Php" id="Php"/>
        <br/><br/>
        <label for="Ppower">玩家力量</label>
        <input type="text" name="Ppower" id="Ppower"/>
        <br/><br/>
        <br/><br/>
        <input type="submit" value="添加" class="sure">
        <input type="button" value="主页" class="sure" onclick="javascript:window.location.href='{{ url_for('index') }}'">
    </form>
</div>
</body>
</html>